<link href="https://fonts.googleapis.com" rel="preconnect">
<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Serif+SC&display=swap" rel="stylesheet">

<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/katex@latest/dist/contrib/copy-tex.css"
      rel="stylesheet">
<script crossorigin="anonymous" defer
        src="https://cdn.jsdelivr.net/npm/katex@latest/dist/contrib/copy-tex.min.js"></script>
